@import 'tailwindcss';

@theme {
  --color-background: #ffffff;
  --color-surface: #f9fafb;
  --color-surface-light: #f3f4f6;

  --color-text-primary: #111827;
  --color-text-secondary: #4b5563;
  --color-text-muted: #6b7280;

  --color-accent: #3b82f6;
  --color-accent-hover: #2563eb;
  --color-accent-soft: #60a5fa;
  --color-accent-neon: #38bdf8;

  --font-inter: 'Inter', sans-serif;
}

@layer utilities {
  .animate-fade-up {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 0.8s ease forwards;
  }

  .delay-200 {
    animation-delay: 0.2s;
  }

  .delay-300 {
    animation-delay: 0.3s;
  }

  @keyframes fadeUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
